<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Cards Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<nav class="navbar">
        <div class="logo">CardStore</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('base') }}">Home</a>
            <li><a href="{{ url_for('products') }}">Products</a>
            <li><a href="{{ url_for('about') }}">About</a>
            <li><a href="{{ url_for('contacts') }}">Contacts</a>
            <li><a href="{{ url_for('login') }}">Login</a>
            <li><a href="{{ url_for('signup') }}">Sign-Up</a>
        </ul>
    </nav>
</section>
    <section id="contacts" class="contacts-section">
        <h2>Contact Us</h2>
        <p>Address
Sammelkartenmarkt GmbH & Co. KG
Nordkapstr. 4
10439 Berlin
Telephone
+49 30 47375577 (Not for customer support)
Email
Registration office
Amtsgericht Berlin-Charlottenburg
Registration number
HR A 39760
Sales tax identification number
DE256122758</p>
    </section>
<body>

